<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/resources/style.css">
    <title>Remote Controlled Socket</title>
</head>
<body>
<div class="container">
    <div class="content">
        <h1>Remote Controlled Socket</h1>
        <button id="turnOnBtn">Turn On</button>
        <button id="turnOffBtn">Turn Off</button>
    </div>
</div>

<script src="../public/js/script.js" type="application/javascript"></script>
</body>
</html>
